@import "../../../sass/vars"
.overlay
  top: 0

#sidebar
  width: 100%
  padding-top: 1.25rem
  left: -100%

#sidebar,
#sidebar .sidebar-header
  background-color: $white

.card
  background-color: transparent
  border: none
  border-radius: 0

.card-header
  padding: 0
  background-color: transparent
  border-bottom: none
  .btn
    text-align: left
    color: $black

.card-body
  //font: 300 0.75rem/0.875rem 'SFProDisplay-Light', sans-serif
  font: 0.9rem/0.875rem 'SFProDisplay-Regular', sans-serif
  padding: 0.75rem
  color: $white
  border-bottom: 1px solid rgba(255,255,255,.2)
  background-color: $orange
  &:hover
    color: $white

#dismiss
  background-color: transparent
  &:hover
    background: transparent
    color: #FFFFFF

.btn-info
  font-size: 40px

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle,
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active
  color: $black
  background-color: transparent
  border-color: transparent
  box-shadow: none

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus
  box-shadow: none

#sidebar
  .collapse,.collapsing
    a + a
      padding-left: 1.5rem
