<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <img src="img/close.png" alt="">
    </div>
    <div class="header-logo">
      <a href="/"><img src="img/logo.svg" alt="JLG"></a>
    </div>
    <div class="accordion" id="accordionExample">
      <a href="/" class="btn">
        О компании
      </a>
      <div class="card">
        <div class="card-header" id="product">
          <button class="btn btn-link collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseProduct"
                  aria-expanded="false" aria-controls="collapseProduct">
            Продукция
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <div id="collapseProduct" class="collapse" aria-labelledby="product" data-parent="#accordionExample">
          <a href="/" class="card-body d-block">
            Продукция - link
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="parts">
          <button class="btn btn-link collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseParts"
                  aria-expanded="false" aria-controls="collapseParts">
            Запчасти и сервис
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <div id="collapseParts" class="collapse" aria-labelledby="parts" data-parent="#accordionExample">
          <a href="/" class="card-body d-block">
            Запчасти и сервис  - link
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="manual">
          <button class="btn btn-link collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseManual"
                  aria-expanded="false" aria-controls="collapseManual">
            Руководства по эксплуатации
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
        <div id="collapseManual" class="collapse" aria-labelledby="manual" data-parent="#accordionExample">
          <a href="/" class="card-body d-block">
            Руководства
          </a>
          <a href="/" class="card-body d-block">
            Адрес
          </a>
          <a href="/" class="card-body d-block">
            Телефон
          </a>
          <a href="/" class="card-body d-block">
            Новые и усовершенствованные разработки
          </a>
        </div>
      </div>
      <a href="/" class="btn">
        Контакты
      </a>
      <div class="card">
        <div class="container">
          <div class="header-search pt-1 pb-1 w-100 d-block position-relative">
            <div class="row">
              <div class="col-md-12">
                <form action="" class="d-flex w-100 align-items-center">
                  <div class="form-group custom-form-group m-0">
                    <input class="form-control w-100"
                           id="title-search-input" type="text"  value=""
                           placeholder="Найти"
                           size="40" maxlength="50" autocomplete="off">
                  </div>
                  <div class="header-search-btn">
                    <a href="index-12.html" class="btn btn-orange btn-short py-2" type="submit" name="s" value="Найти"><i class="fa fa-search"></i></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
<div class="overlay"></div>
<script type="text/javascript">
  $(document).ready(function() {
    // $("#sidebar").mCustomScrollbar({
    //   theme: "minimal"
    // });

    $("#dismiss, .overlay").on("click", function() {
      $("#sidebar").removeClass("active");
      $(".overlay").removeClass("active");
    });

    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").addClass("active");
      $(".overlay").addClass("active");
      $(".collapse.in").toggleClass("in");
      $("a[aria-expanded=true]").attr("aria-expanded", "false");
    });
  });
</script>
