<div class="product-card-area product-card-big-area">
  <div class="product-card">
    <div class="product-card-title text-center">
      <h2>Электрические ножничные подъемники</h2>
    </div>
    <div class="product-card-image d-flex justify-content-center align-items-center">
      <a href="/">
        <img src="img/img-catalog-big.png" alt="RT2669">
      </a>
    </div>
    <div class="product-card-info flex-column d-flex">
      <p>
        Электропривод обеспечивает более чем удвоенное время автономной работы машин с гидравлическим приводом.
      </p>
      <p>
        Доступен с различной рабочей высотой и грузоподъемностью платформы, легко найти модель мобильного ножничного
        подъемника, соответствующую потребностям вашей рабочей площадки.
      </p>
    </div>
  </div>
  <div class="d-flex">
    <a href="/" class="btn btn-orange text-center w-100">
      Просмотреть модель
    </a>
  </div>
</div>
