@import "../../../sass/vars"

.product-card-big-area
  .product-card
    padding: 1.25rem 0 0 0
  .product-card-title
    margin-bottom: 0.875rem
  .product-card-image img
    height: 20.625rem
  .product-card-info
    padding: 0 1rem 2.0625rem 1rem
    p
      margin: 0.5rem 0
      font: 1.0625rem/1.375rem 'SFProDisplay-Ligth', sans-serif
  .btn-orange
    padding: 1.25rem 0
