<section class="selection-parts-area selection-parts-old">
  <div class="container-md selection-parts-container">
    <img class="selection-parts-image"
         src="img/selection-parts.png"
         data-webp-src="/local/templates/jlg/img/selection-parts.png" alt="Запчасти">
    <div class="row">
      <div class="col-12">
        <div class="selection-parts">
          <div class="col-12">
            <div class="title-medium">Большой выбор запчастей</div>
            <p>
              Запчасти с гарантией для всех моделей техники JLG.
            </p>
            <p>
              Моментальная отгрузка из наличия со склада в Московской области.
            </p>
            <p>
              Доставка из Европы в течении 14 дней!
            </p>
            <a href="javascript:;" data-toggle="modal" data-target="#formCallbackParts" class="btn btn-white">
              Оставить заявку
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mb-5">

</div>
<section class="selection-parts-area selection-parts-new">
  <div class="container-md selection-parts-container">

    <div class="row">
      <div class="col-12">
        <div class="selection-parts">
          <div class="selection-parts-slider">
            <img
                class="selection-parts-image"
                src="https://dev.jlg.ru/upload/delight.webpconverter/local/templates/jlg/img/act-1.jpg.webp?164881453618826"
                alt="Запчасти">
            <img
                class="selection-parts-image"
                src="https://dev.jlg.ru/upload/delight.webpconverter/local/templates/jlg/img/act-1.jpg.webp?164881453618826"
                alt="Запчасти">
            <img
                class="selection-parts-image"
                src="https://dev.jlg.ru/upload/delight.webpconverter/local/templates/jlg/img/act-1.jpg.webp?164881453618826"

                alt="Запчасти">
            <img
                class="selection-parts-image"
                src="https://dev.jlg.ru/upload/delight.webpconverter/local/templates/jlg/img/act-1.jpg.webp?164881453618826"

                alt="Запчасти">
            <img
                class="selection-parts-image"
                src="https://dev.jlg.ru/upload/delight.webpconverter/local/templates/jlg/img/act-1.jpg.webp?164881453618826"

                alt="Запчасти">
          </div>

          <div class="col-12 selection-parts__content">
            <h1 class="title-medium">РАСПРОДАЖА СО СКЛАДА В РОССИИ</h1>
            <p>
              Распродаём остатки со склада в России.по ценам 2021 года
            </p>
            <a href="/" class="btn btn-white">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
