@import "../../../sass/vars"

.selection-parts-old
  .selection-parts-container
    position: relative

  .selection-parts-area
    margin: 0 0 6.125rem 0

  .selection-parts
    min-height: 14.875rem
    position: relative
    background: linear-gradient(270deg, rgba(243, 112, 34, 0.42) -3.51%, rgba(255, 255, 255, 0) 56.58%), $orange
    border-radius: 0.3125rem
    padding: 1.75rem 7.25rem 2.75rem  7.25rem
    .title-medium
      color: $white
      margin: 0 0 1.938rem 0

  .selection-parts-image
    position: absolute
    width: 10.75rem
    top: calc(50% - 5.375rem)
    right: 3.125rem
    z-index: 2
  .selection-parts
    p
      color: $white
      font: 400 1.063rem/1.375rem 'SFProDisplay-Regular', sans-serif
    .btn
      margin: 1.25rem 0 0 0
      font: 400 1.063rem/1.375rem 'SFProDisplay-Regular', sans-serif

  @media (max-width: 992px)
    .selection-parts
      padding-left: 0
      padding-right: 0

  @media (max-width: 768px)
    .selection-parts-image
      top: calc(100% - 5.375rem)

  //right: -20px
  //transform: translateY(95%)
  //top: auto
  //bottom: 0
  @media (max-width: 425px)
    .selection-parts-image
      right: -1.25rem
      display: none


.selection-parts-new
  .selection-parts-container
    position: relative
    padding: 0

  .selection-parts-area
    margin: 0 0 6.125rem 0

  .selection-parts
    min-height: 14.875rem
    position: relative
    border-radius: 0.625rem
    padding: 1.5rem 0 3.125rem 3.75rem
    overflow: hidden
    .title-medium
      font: 500 1.65rem/38px 'SFProDisplay-Medium', sans-serif
      color: $white
      margin: 0 0 1rem 0
    &:before
      content: ''
      position: absolute
      background: linear-gradient(90deg,#ff5405 50%,rgba(255,84,5,0) 70%)
      max-width: 55rem
      width: 100%
      height: 100%
      left: 0
      z-index: 1
      top: 0
    &__content
      position: relative
      z-index: 2
      width: calc(100% - 267px)

  .selection-parts-image
    //position: absolute
    //width: 500px
    //height: 100%
    //top: 0
    //right: 0
    //z-index: 0

  .selection-parts
    position: relative
    z-index: 1
    p
      color: $white
      font: 400 1.063rem/1.375rem 'SFProDisplay-Regular', sans-serif
    .btn
      border-radius: 15px
      font: 400 1.25rem/1.5rem 'SFProDisplay-Regular', sans-serif
      max-width: 16.875rem
      width: 100%
      margin-top: 2.8125rem
      padding-top: 0.9375rem
      padding-bottom: 0.9375rem

  .selection-parts-slider
    display: flex
    align-items: center
    width: 267px
    height: 100%
    position: absolute
    right: 0
    top: 0

  @media (max-width: 1199.8px)
    .selection-parts:before
      max-width: 45rem

  @media (max-width: 992px)
    .selection-parts
      padding-left: 0
      padding-right: 0
    .selection-parts:before
      max-width: 35rem
      background: linear-gradient(90deg,#ff5405 58.09%,rgba(255,84,5,0))


  @media (max-width: 575.9px)
    .selection-parts
      &__content
        width: 100%
    .selection-parts-slider
      //visibility: hidden
    .selection-parts:before
      //max-width: 100%
      //background: linear-gradient(90deg, #FF5405 100%, rgba(255, 84, 5, 0) 100%)


