@import "../../../sass/vars"

.breadcrumb
  margin: 1.563rem 0 2.313rem 0
  padding: 0
  background-color: transparent

.breadcrumb-item + .breadcrumb-item::before
  content: url('../img/arrow.png')
  padding-right: 0.688rem

.breadcrumb-item + .breadcrumb-item

  padding-left: 0.688rem

.breadcrumb-item.active span
  color: $black

.breadcrumb-item a
  color: $gray
  font: 300 1rem/1.313rem 'SFProDisplay-Regular', sans-serif
