<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="#">Главная</a></li>
          <li class="breadcrumb-item"><a href="#">Контакты</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>
