@import "vars"

.btn:focus
  outline: none
  box-shadow: none

.btn-orange
  border-radius: 0
  color: $white
  background-color: $orange
  font: 200 1rem/130% 'SFProDisplay-Light', sans-serif
  &:hover,&:active
    color: $white

.btn-white
  border-radius: 0.5625rem
  color: $orange
  font: 300 1.125rem/130% 'SFProDisplay-Light', sans-serif
  background-color: $white

.btn-transparent
  text-decoration-line: underline
  border-radius: 0
  color: $orange
  font: 300 1.125rem/130% 'SFProDisplay-Light', sans-serif
  background-color: transparent
