@import "vars"

.catalog-product-area
  margin: 0.5625rem 0 0 0
  .product-card-area
    margin: 0 0 2.125rem 0

.container-filter
  position: relative

.filter
  margin: 0 0 3.438rem 0
  h4
    font: 1.063rem/1.375rem 'SFProDisplay-Regular', sans-serif
    margin: 0 0 1.9375rem 0
  .chiller_cb:not(:last-child)
    margin-bottom: 1rem
  .chiller_cb
    margin-left: 0.0625rem

.filter-checkboxes
  h4
    margin: 0 0 0.9375rem 0

.filter-type-price-area
  margin: 0 0 2.1875rem 0
.filter-type-price
  border: 0.0625rem solid $gray
  border-radius: 0.1875rem
  width: 6.875rem
  height: 2.1875rem
  margin: 0 0.563rem 0 0.563rem
  input
    height: auto
    width: 100%
    border: none
    padding: 0.1rem
    text-align: center
    font: 0.938rem/130% 'SFProDisplay-Medium', sans-serif
  .units
    font: 0.938rem/130% 'SFProDisplay-Ligth', sans-serif
    flex: 0 0 1.875rem
    border-left: 0.0625rem solid $gray
    padding: 0 0.1rem
    text-transform: uppercase

.filter-search-area
  border-radius: 0.3125rem
  z-index: 10
  left: 100%
  position: absolute
  background: #FFFFFF
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.25)
  &:before
    content: ""
    position: absolute
    top: calc(50% - 0.3125rem)
    left: 0px
    background: $white
    margin-left: -0.3125rem
    width: 0.625rem
    height: 0.625rem
    box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25)
    z-index: -1
    transform: rotate(45deg)

.filter-search
  min-width: 11.25rem
  border-radius: 0.3125rem
  background-color: #ffffff
  padding: 1rem 1rem 0.688rem 1rem
  .btn
    width: 100%
    border-radius: 0.3125rem

.filter-search p
  color: $black
  font: 0.938rem/130% 'SFProDisplay-Regular', sans-serif
  margin: 0 0 0.75rem 0

.filter-range-area
  padding: 0 0.438rem

.filter-btn
  margin-bottom: 0.4375rem
  min-width: 11.25rem
  border-radius: 0.3125rem
