@import "vars"

.chiller_cb
  position: relative
  display: flex
  align-items: center

.chiller_cb input
  display: none

.chiller_cb input:checked ~ span
  background: $orange
  //border-color: #fd2727

.chiller_cb input:checked ~ span:before
  width: 1rem
  height: 0.15rem
  transition: width 0.1s
  transition-delay: 0.3s

.chiller_cb input:disabled ~ span
  background: $white
  border-color: $gray

.chiller_cb input:disabled ~ label
  font: 300 0.938rem/130% 'SFProDisplay-Ligth', sans-serif

.chiller_cb input:disabled ~ label:hover
  cursor: default

.chiller_cb label
  padding-left: 1.5rem
  position: relative
  z-index: 2
  cursor: pointer
  margin-bottom: 0
  font: 300 0.938rem/130% 'SFProDisplay-Ligth', sans-serif

.chiller_cb span
  display: inline-block
  width: 0.75rem
  height: 0.75rem
  border: 0.125rem solid $gray
  position: absolute
  border-radius: 0.0625rem
  left: 0
  transition: all 0.2s
  z-index: 1
  box-sizing: content-box


