@import "vars"

.contact-area
  //margin: 3.875rem 0 0 0

.contact-mb
  margin: 0 0 2.125rem 0

.contact-mail
  color: #0066FF

.map-title
  margin-bottom: 1.875rem
  font:  1.5rem/130% 'SFProDisplay-Regular', sans-serif

.map
  margin: 0.625rem 0 4.5rem 0
