@import "vars"

html
	height: 100%
body, html
	overflow-x: hidden
	font-size: 16px
	background-color: #ffffff

body, a
	color: #272727
a,a:hover,a:active,a:focus
	color: inherit
	text-decoration-line: inherit
div
//transition: 0.5s ease all
.form-control:focus
	border-color: transparent
	box-shadow: none

textarea
	resize: none

.form-control:disabled, .form-control[readonly]
	background-color: $white

.title-medium
	font-family: 'SFProDisplay-Medium', sans-serif
	font-size: 2.3125rem
	line-height: 110%

.title-regular
	font-family: 'SFProDisplay-Regular', sans-serif
	font-size: 1.125rem
	line-height: 1.3125rem

.sub-title-medium
	font-family: 'SFProDisplay-Medium', sans-serif
	font-size: 1.4375rem
	line-height: 110%

.paragraph-light
	font-family: 'SFProDisplay-Light', sans-serif
	font-size: 1.0625rem
	line-height: 140%

.t-light
	font-family: 'SFProDisplay-Light', sans-serif
	font-size: 0.9375rem
	line-height: 1.125rem

.slide
	&:focus
		outline: none
	&:hover
		cursor: pointer
	a
		outline: none
		text-decoration-line: none

.custom-form-group._error
	label,.input-error
		color: $orange
	.form-control
		border-color: $orange
	.input-error
		margin: 5px 0
		font: 300 0.8rem/0.9rem SFProDisplay-Light,sans-serif

.custom-form-group
	label
		color: $gray
		margin: 0 0 0.25rem 0
		font: 300 1rem/1.188rem 'SFProDisplay-Light', sans-serif
	.form-control
		height: 2.5rem
		border: 0.0625rem solid $gray
		border-radius: 0.313rem
	.select2-container--default .select2-selection--single
		border-color: $orange !important

.file-list-area
	.form-group
		margin-bottom: 0

.download-file
	label
		color: $orange
		text-decoration-line: underline
		font: 1rem/1.188rem 'SFProDisplay-Ligth', sans-serif
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0

.file-list p
	margin: 0 0.625rem 0.3125rem 0.625rem
	color: $black
	font: 0.875rem/1.063rem 'SFProDisplay-Ligth', sans-serif

.page-title
	font: 2.25rem/130% 'SFProDisplay-Bold', sans-serif
	margin-bottom: 2.5rem

.ui-slider-horizontal
	.ui-slider-range
		background-color: $orange
	.ui-slider-handle:focus,
	.ui-slider-handle:active
		outline: none
	.ui-slider-handle
		top: -0.5625rem
		cursor: pointer
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		width: 1.25rem
		height: 1.25rem
		background-color: transparent
		&:before
			content: ''
			position: absolute
			border-radius: 50%
			background-color: $orange
			width: 0.625rem
			height: 0.625rem

.ui-widget.ui-widget-content
	border: none
	height: 0.0625rem
	background-color: $gray

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
	border: none

.slick-slide
	border: none
	outline: none

.calc-btn
	max-width: 15.9375rem
	height: 2.5rem
	width: 100%
	border-radius: 0.3125rem !important
	margin: 3.125rem 0 0 0
	font-size: 1.25rem
	line-height: 130%

.select-calc
	margin-bottom: 1.5rem

.btn-mobile-menu
	padding: 0

.dropdown-list
	position: relative
	.dropdown-menu
		//top: 0
		//bottom: 0
		width: 100%
	.dropdown-item
		cursor: pointer
	li,li:active
		background-color: white
		padding: 0.25rem 0.5rem
		color: inherit

.sticked
	position: sticky
	top: 0
	height: 100%

.top-10
	top: 10px

.z-index-fix
	z-index: 99


@media (max-width: 768px)
	.header-line
		padding: .344rem
	.header-line h4
		font-size: 0.75rem
	.header-logo img
		max-width: 50%
	.btn-mobile-menu .fa
		font-size: 1.875rem
