@import "vars"

.custom-modal
  .modal-header, .modal-footer, .modal-title, .modal-body
    border: none
    padding: 0
  .close
    position: absolute
    top: 1.25rem
    right: 1.25rem
    z-index: 1
  .btn
    margin-top: 1.4375rem
    border-radius: 0.3125rem
    padding-right: 1.75rem
    padding-left: 1.75rem
  textarea
    padding-top: 1.25rem
    height: 5rem!important

.modal-dialog
  max-width: 27.5rem
  .modal-content
    padding: 3.375rem 2.5rem 1.5rem 2.5rem

.modal-title
  font: 1.5rem/1.8125rem 'SFProDisplay-Medium', sans-serif
  margin: 0 0 1rem 0

.modal-text
  font: 0.9375rem/1.125rem 'SFProDisplay-Medium', sans-serif

.modal-dialog-form
  .modal-title
    margin: 0 0 2.8125rem 0
    font: 1.25rem/1.5rem 'SFProDisplay-Medium', sans-serif

#orderSent
  .modal-dialog .modal-content
    padding-bottom: 3.375rem

.modal-content
  border: none
.modal-content.error
  border-radius: 0.3rem 0.3rem 0 0
.modal-error-area
  display: flex
  justify-content: center
  align-items: center
  background-color: $orange
  padding: 1rem 1.875rem
  border-radius: 0 0 0.3125rem 0.3125rem
  img
    margin: 0 0.9375rem 0 0
  p
    color: #fff
    font: 1rem/1.1875rem 'SFProDisplay-Ligth', sans-serif

.count-text
  color: $gray
  font: 0.875rem/1rem 'SFProDisplay-Ligth', sans-serif
  position: absolute
  top: 1.875rem
  right: 0.3125rem

.modal-open
  .select2-dropdown
    z-index: 1055

@media (max-width: 425px)
  .modal-dialog .modal-content
    padding-left: 1rem
    padding-right: 1rem
