<section class="description-product-area">
  <div class="container">
    <div class="row flex-xl-row ">
      <div class="col-xl-7 col-md-6">
        <div class="description-product">
          <h1 class="description-product-name">
            RT2669
          </h1>
          <p class="description-product-info">
            Ножничный подъемник для наружных работ
          </p>
          <div class="description-product-specifications d-flex ">

            <div class="specification d-flex">
              <div class="specification-img d-flex justify-content-center align-items-center">
                <img src="img/sp-1.png" alt="">
              </div>
              <div class="units-area">
                <p class="count text-center">680</p>
                <p class="units text-center">kg</p>
              </div>
            </div>

            <div class="specification d-flex">
              <div class="specification-img d-flex justify-content-center align-items-center">
                <img src="img/sp-2.png" alt="">
              </div>
              <div class="units-area">
                <p class="count text-center">1.75</p>
                <p class="units text-center">m</p>
              </div>

            </div>
          </div>
          <ul class="description-product-text">
            <li>
              Ограничение движения вверх и вниз: модели с приводом от двигателя для пересеченной местности обеспечивают
              возможность движения на полной высоте
            </li>
            <li>
              Перенести больше на высоту: самый большой размер платформы в своем классе позволяет вам привлекать к работе
              больше операторов и инструментов
            </li>
            <li>
              Используйте новейшие технологии: ЖК-блок управления на платформе с технологией LiftSense и USB-зарядкой
              обеспечивает новый уровень производительности в реальном времени и сервисную связь с оператором
            </li>
          </ul>
          <button class="product-request btn btn-orange">
            Запросить
          </button>
        </div>
      </div>
      <div class="col-xl-5 col-md-6 d-md-flex justify-content-md-center col-description-product">
        <div class="description-product-slider-area d-flex flex-column align-items-center">
          <div class="description-product-for slider-for w-100">
            <img src="img/img-catalog-5.png" alt="">
            <img src="img/img-catalog-4.png" alt="">
            <img src="img/img-catalog-3.png" alt="">
            <img src="img/img-catalog-3.png" alt="">
          </div>
          <div class="description-product-nav slider-nav">
            <div class="nav">
              <img src="img/img-catalog-5.png" alt="">
            </div>
            <div class="nav">
              <img src="img/img-catalog-4.png" alt="">
            </div>
            <div class="nav">
              <img src="img/img-catalog-3.png" alt="">
            </div>
            <div class="nav">
              <img src="img/img-catalog-3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
