@import "../../../sass/vars"
.description-product-slider-area
  //width: 17.875rem
  width: 100%
  .slick-list
    padding: 0 !important
.description-product-nav
  .slick-slide
    cursor: pointer
    filter: grayscale(100%)
  .slick-slide.slick-current
    filter: grayscale(0)
    img
      padding: 0.125rem
      border: 1px solid $orange

//.description-product-area
//margin: 5.125rem 0 0 0

.description-product-name
  color: $black
  font: bold 2.25rem/130% 'SFProDisplay-Bold', sans-serif
  margin: 0 0 1.75rem 0

.description-product-info
  color: $gray
  font: 500 1.5rem/130% 'SFProDisplay-Medium', sans-serif
  margin: 0 0 2.25rem 0

.description-product-specifications
  margin: 0 0 1.875rem 0

.specification
  margin: 0 0.875rem 0 0
  border: 0.0625rem solid $orange
  border-radius: 0.313rem
  height: 3.5625rem
  .specification-img
    border-radius: 0.313rem
    width: 3.6875rem
    height: 100%
    background-color: $orange
    position: relative
    left: -0.125rem
    img
      position: absolute
      object-fit: contain
      width: 100%
      height: auto
      padding: 0.3125rem
  .units-area
    padding: 0.4375rem 0.625rem 0.1875rem 0.625rem
  .count
    color: $orange
    font: 1.375rem/1.75rem 'SFProDisplay-Ultralight', sans-serif
  .units
    color: $orange
    font: 0.813rem/1.063rem 'SFProDisplay-Bold', sans-serif
.description-product
  .description-product-text, ul
    li
      list-style: none
      font: 400 1.125rem/130% 'SFProDisplay-Regular', sans-serif
      margin: 1.5rem 0
      padding-left: 0.8rem
      &:before
        content: '\2022'
        color: $orange
        display: block
        height: 0.3125rem
        width: 0.3125rem
        left: -0.8rem
        top: 0.3125rem
        position: relative
.col-description-product
  position: sticky
  top: 0
  height: 100%
.description-product-for
  height: 24.375rem
  width: 17.875rem
  margin: 0 0 1.375rem 0
  .slick-list,.slick-track
    height: 100%
  img
    width: 100%
    height: 100%
    object-fit: contain

.description-product-nav
  //width: 100%
  width: 17.875rem
  .nav
    width: 7.25rem
    height: 5.4375rem
    position: relative
    img
      position: absolute
      top: 0
      left: 0
      object-fit: contain
      width: 100%
      height: 100%

.product-request
  margin: 2.375rem 0
  border-radius: 0.313rem
  width: 100%
  max-width: 19rem
  height: 3.5625rem
  font: 300 1.5rem/1.938rem 'SFProDisplay-Light', sans-serif

.specifications-nav-area
  margin: 0 0 10rem 0

.specifications-nav
  width: 100%
  border-bottom: 0.0625rem solid
  margin: 0 0 2rem 0
  .nav-link
    flex-grow: 1
    text-align: center
    color: $gray
    padding: 0.875rem 2.0rem
    font: 1.5rem/1.938rem 'SFProDisplay-Ultralight', sans-serif
    &.active
      font-family: 'SFProDisplay-Regular', sans-serif
      color: $black
      position: relative
      &:before
        position: absolute
        content: ''
        border-bottom: 0.25rem solid $orange
        width: 100%
        left: 0
        bottom: -0.0625rem

.file-list
  .file-area:last-child
    margin: 0

.file-area
  margin: 0 0 2.313rem 0
  img
    margin: 0 0.75rem 0 0
  p
    font: 1.125rem/1.438rem 'SFProDisplay-Regular', sans-serif
    text-decoration-line: underline

.specification-tab
  .product-card-info
    margin-top: 0
    padding-bottom: 0
  .product-card-info-item
    margin: 0 0 1.0625rem 0
    p
      font: 1.125rem/130% 'SFProDisplay-Regular', sans-serif
      padding-left: 0
  .fade:not(.show)
    display: none

.specification-slider
  margin: 9rem 0 0 0
  .slick-arrow
    display: block
    visibility: visible
    z-index: 100
    &:before
      display: none
  .slick-prev
    background-image: url("../img/prev.svg")
    width: 1.875rem
    height: 3.5rem
  .slick-next
    background-image: url("../img/next.svg")
    width: 1.875rem
    height: 3.5rem


.specification-slide
  width: 21.875rem
  height: 17.8125rem
  position: relative
  margin: 0 0.938rem
  p
    font: 0.9375rem/1.125rem 'SFProDisplay-Medium', sans-serif

@media (max-width: 768px)
  .description-product-slider-area
    width: 100%
@media (max-width: 600px)
  .specification-slider .slick-prev
    left: 0
  .specification-slider .slick-next
    right: 0
