<footer>
  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-12 col-sm-12 col-12 footer-border">
        <div class="footer-block">
          <div class="footer-block-title-area">
            <h1 class="footer-block-title">
              БЫСТРЫЕ ССЫЛКИ
            </h1>
          </div>
          <div class="footer-list d-flex flex-lg-column flex-wrap">
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">О компании</a>
            </div>
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Продукция</a>
            </div>
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Запчасти и сервис</a>
            </div>
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Телематика ClearSky™</a>
            </div>
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Новости и события</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-12 col-sm-12 col-12 footer-border">
        <div class="footer-block">
          <div class="footer-block-title-area">
            <h1 class="footer-block-title">
              ОТРАСЛИ ИСПОЛЬЗОВАНИЯ
            </h1>
          </div>
          <div class="footer-list d-flex flex-lg-column flex-wrap">
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Наружные работы</a>
            </div>
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Внутренние работы</a>
            </div>
            <div class="footer-link d-flex">
              <a href="" class="d-flex align-items-center">Складские работы</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-12 col-sm-12 col-12 footer-border">
        <div class="footer-block footer-block-contact">
          <div class="footer-block-title-area">
            <h1 class="footer-block-title">
              КОНТАКТЫ
            </h1>
          </div>
          <div class="footer-list d-flex flex-lg-column flex-wrap">
            <div class="footer-list d-flex flex-lg-column flex-wrap">
              <div class="footer-list footer-list-address d-flex flex-lg-column flex-wrap">
                <div class="footer-link d-flex ">
                  <p class="d-flex align-items-center ">
                    Официальный дистрибьютор JLG в
                    <br>России и Белоруссии ООО «Технотрейд»
                  </p>
                </div>
                <div class="footer-link d-flex">
                  <p  class="d-flex align-items-center">
                    <img src="img/pin.png" alt="">
                    123610, Россия, Москва,
                    <br>Краснопресненская набережная, д. 12
                  </p>
                </div>
                <div class="footer-link d-flex">
                  <a  href="tel:88006003944" class="d-flex align-items-center">
                    <img src="img/phone.png" alt="">
                    8 800 600 39 44
                  </a>
                </div>
                <div class="footer-link d-flex">
                  <a href="mailto:info@jlg.ru" class="d-flex align-items-center">
                    <img src="img/mail.png" alt="">
                    info@jlg.ru
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="social-networks">
          <a href="" class="text-decoration-none">
            <img src="img/yt.png" alt="">
          </a>
          <a href=""  class="text-decoration-none">
            <img src="img/in.png" alt="">
          </a>
          <a href=""  class="text-decoration-none">
            <img src="img/fb.png" alt="">
          </a>
        </div>
      </div>
      <div class="footer-down-links">
        <div class="col-12 p-0">
          <ul class="d-flex align-items-center flex-wrap">
            <li>
              <a href="/">Политика конфиденциальности</a>
            </li>
            <li>
              <a href="/">Пользовательское соглашение</a>
            </li>
            <li>
              <a href="/">Использование cookies</a>
            </li>
            <li>
              <a href="/">Гарантия</a>
            </li>
            <li>
              <p>© ООО “Технотрейд”, 2020 - 2021 г. </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
