@import "../../../sass/vars"

.category-line-area
  margin: 3.563rem 0 5.625rem 0
  .col:last-child
    margin: 0
  .col
    margin: 0 0.4375rem 0 0
  a:first-child
    margin: 0 0.3125rem 0 0
  a:last-child
    margin: 0 0 0.3125rem 0
  a
    font: 400 0.875rem/130% 'SFProDisplay-Regular', sans-serif
    color: $gray
    margin: 0 0.3125rem

@media (max-width: 768px)
  .category-line-area
    a
      margin: 0 0 0.625rem 0!important
