<section class="category-line-area d-md-block d-none">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col d-flex justify-content-between flex-md-row flex-column flex-wrap">
        <div class="col-auto">
          <a href="">Дизельные телескопические и коленчатые</a>
        </div>
        <div class="col-auto">
          <a href="">Электрические и гибридные</a>
        </div>
        <div class="col-auto">
          <a href="">Низковысотные подъемники</a>
        </div>
        <div class="col-auto">
          <a href="">Складские подъемники</a>
        </div>
        <div class="col-auto">
          <a href="">Ножничные подъемники</a>
        </div>
      </div>
    </div>
  </div>
</section>

