@import "../../../sass/vars"

.news-title
  margin: 0 0 2.188rem 0

.new-block
  margin: 0 0 1.688rem 0
  .new-block-title
    min-height: 2.75rem
    font: 400 1.063rem/130% 'SFProDisplay-Regular', sans-serif
    margin: 0 0 0.68rem 0

.new-block-text
  margin: 0 0 0.813rem 0
  p
    font: 300 0.938rem/130% 'SFProDisplay-Light', sans-serif

.new-block-date p
  color: $gray
  font: 400 0.75rem/110% 'SFProDisplay-Regular', sans-serif

.all-news
  text-decoration-line: underline
  font: 400 0.938rem/130% 'SFProDisplay-Regular', sans-serif
