<section class="news-area">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <h1 class="news-title sub-title-medium">Новости компании</h1>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="new-block" data-aos="fade-up" data-aos-duration="900">
          <a href="/" class="new-block-title d-block">
            Узкие электрические ножничные подъемники идеальны для...
          </a>
          <div class="new-block-text">
            <p>
              Новый подъемник 4045 обладает компактным дизайном,
              что позволяет ему плавно перемещается в ограниченном пространстве.
              Ширина корпуса составляет всего 1,14 м.
            </p>
          </div>
          <div class="new-block-date">
            <p>30 октября 2020</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="new-block" data-aos="fade-up" data-aos-duration="1100">
          <a href="/" class="new-block-title d-block">
            Новая выставка инноваций пройдёт в городах уже этой весной...
          </a>
          <div class="new-block-text">
            <p>
              Компания JLG Industriesи ведущий мировой производитель подъемников и телескопических погрузчиков,
              объявила о назначении SkyTech дистрибьютором по Приволжскому...
            </p>
          </div>
          <div class="new-block-date">
            <p>30 октября 2020</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="new-block" data-aos="fade-up" data-aos-duration="1200">
          <a href="/" class="new-block-title d-block">
            «Мы рады сотрудничеству с еще одним мировым лидером в лице...»
          </a>
          <div class="new-block-text">
            <p>
              JLG Industries, Inc. является ведущим мировым разработчиком, производителем и продавцом подъемного оборудования.
              Разнообразный ассортимент продукции компании включает в себя...
            </p>
          </div>
          <div class="new-block-date">
            <p>30 октября 2020</p>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <a href="/" class="all-news">Все новости компании</a>
      </div>
    </div>
  </div>
</section>
