<div class="product-card-area">
  <div class="product-card">
    <a href="">
      <div class="product-card-title text-center">
        <h2>RT2669</h2>
      </div>
      <div class="product-card-image d-flex justify-content-center align-items-center">
        <img src="img/product-image.jpg" alt="RT2669">
      </div>
      <div class="product-card-info flex-column d-flex">
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
      </div>
    </a>

  </div>
  <div class="d-flex">
    <button class="btn btn-orange text-center w-100">
      Просмотреть модель
    </button>
  </div>
</div>
