@import "../../../sass/vars"

.product-card-area
  transition: 0.3s ease all
  &:hover
    cursor: pointer
    filter: drop-shadow(0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25))
  .btn-orange
    border-radius: 0 0 0.3125rem 0.3125rem

.product-card
  padding: 0.25rem 0 0 0
  background: #FFFFFF
  border: 0.0625rem solid rgba(0, 0, 0, 0.1)
  border-bottom: none
  border-radius: 0.3125rem 0.3125rem 0 0

.product-card-title
  margin-bottom: 0.625rem
  padding: 0 0.2rem
  h2
    font: 1.5rem/130% 'SFProDisplay-Regular', sans-serif

.product-card-image
  padding: 0.5rem
  img
    height: 10.625rem
    max-width: 100%
.product-card-info
  margin: 0.1875rem 0 0 0
  padding-bottom: 0.625rem
.product-card-info-item
  margin: 0 0.5rem
  &:before
    content: ''
    position: absolute
    width: 100%
    top: 50%
    border-bottom: 0.0625rem dashed rgba(0, 0, 0, 0.1)
  p
    padding: 0.313rem
    font: 300 0.875rem/1.125rem 'SFProDisplay-Light', sans-serif
    background-color: $white
  .info-prop
    text-align: right
    word-break: break-all
    max-width: 60%
  .info-name
    max-width: 60%
  .info-name,.info-prop
    //max-width: 12.5rem


