@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('SF Pro Display/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('SF Pro Display/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('SF Pro Display/SFProDisplay-Bold.woff2') format('woff2'),
    url('SF Pro Display/SFProDisplay-Bold.woff') format('woff'),
    url('SF Pro Display/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay-Medium';
    src: url('SF Pro Display/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('SF Pro Display/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('SF Pro Display/SFProDisplay-Medium.woff2') format('woff2'),
        url('SF Pro Display/SFProDisplay-Medium.woff') format('woff'),
        url('SF Pro Display/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('SF Pro Display/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('SF Pro Display/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('SF Pro Display/SFProDisplay-Regular.woff2') format('woff2'),
    url('SF Pro Display/SFProDisplay-Regular.woff') format('woff'),
    url('SF Pro Display/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay-Light';
    src: url('SF Pro Display/SFProDisplay-Light.eot');
    src: local('SF Pro Display Ligh'), local('SFProDisplay-Ligh'),
    url('SF Pro Display/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('SF Pro Display/SFProDisplay-Light.woff2') format('woff2'),
    url('SF Pro Display/SFProDisplay-Light.woff') format('woff'),
    url('SF Pro Display/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay-Ultralight';
    src: url('SF Pro Display/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
    url('SF Pro Display/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('SF Pro Display/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('SF Pro Display/SFProDisplay-Ultralight.woff') format('woff'),
    url('SF Pro Display/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
