@import "../../../sass/vars"

.header-line
  background-color: $orange
  padding: 0.688rem
  h4
    color: $white
    font: 300 1.125rem/1.313rem 'SFProDisplay-Light', sans-serif

.header-area
  z-index: 10
  margin: 0 0 2.5rem 0
  min-height: 6.25rem
  top: 0
  //position: sticky
  background: #FFFFFF
  box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.12)

.header
  width: 100%
  //padding: 0.3125rem 0

.header-logo
  padding: 0.625rem 0.75rem
  //margin: 0 1.375rem 0 0

  img
    width: 13.125rem

.header-navigation
  margin: 0 0 0 1.1875rem
  .nav-link.active
    border-bottom: 0.1875rem solid $orange
  .nav-link
    padding: 0 .9875rem  0 0
    font: 1rem/1.188rem 'SFProDisplay-Regular', sans-serif
    color: $black
    //padding: 3rem 1rem 2rem 1rem
    //margin: 0 1.5625rem 0 0
    border-bottom: 0.1875rem solid transparent

  .nav, .nav-item, .nav-link
    position: relative
    height: 100%
    flex-wrap: nowrap

.nav-item:last-child:hover
  .nav-link
    border-color: #ffffff

.nav-item
  margin-left: 0.9875rem
  position: relative
  i
    cursor: pointer
    position: absolute
    top: calc(50% - 8px)
    right: 0
  &:hover
    .sub-menu-area
      opacity: 1
      visibility: visible
      transform: perspective(37.5rem) rotateX(0)
    .nav-link
      border-bottom: 0.1875rem solid $orange


.sub-menu-area
  position: absolute
  transform: perspective(37.5rem) rotateX(-90deg)
  transform-origin: 0 0 0
  left: 0
  right: auto
  opacity: 0
  visibility: hidden
  transition: .5s
  z-index: 99
  top: 100%
  min-width: 100%

.sub-menu
  min-width: 100%
  border-radius: 0
  box-shadow: 0px 0.8125rem 1.25rem rgba(0, 0, 0, 0.26)
  position: relative
  //padding: 0.438rem 0.563rem  0.438rem  0.563rem
  //padding: 0 0.563rem 0 0.563rem

  text-align: left
  li
    line-height: 1.25rem
  a.active
    background: #E86F22
    text-decoration-line: none
  a
    background: $stroke
    padding: 0.438rem 0.563rem  0.438rem  0.563rem
    display: inline-block
    width: 100%
    font: 1rem/0.875rem 'SFProDisplay-Light', sans-serif
    white-space: nowrap
    color: $white
    &:hover
      background: #E86F22
      text-decoration-line: none
.sub-menu-area
  //&:before
  //  content: ''
  //  background: $stroke
  //  width: 0.625rem
  //  height: 0.625rem
  //  position: absolute
  //  top: -0.313rem
  //  transform: rotate(45deg)
  //  left: calc(50% - 0.625rem)

.header-contact
  a
    color: $black
    font: 1rem/1.1875rem 'SFProDisplay-Regular', sans-serif

.header-search
  z-index: 10
  //display: none
  position: absolute
  border: 0
  .form-group
    flex: 1 1 auto

.header-search-btn
  .btn
    min-width: 6.25rem
    border-radius: .313rem
    margin-left: 1rem
  .btn-short
    min-width: auto


.header-search-anim
  position: absolute
  transform: perspective(37.5rem) rotateX(-90deg)
  transform-origin: top center
  left: 0
  right: auto
  opacity: 0
  visibility: hidden
  transition: .5s
  top: 100%
  min-width: 100%
  background: #fff
  border-top: 2px solid #ff5405
  z-index: 11
  box-shadow: 0 15px 15px rgba(0,0,0,0.15)



.header-search-anim.open
  opacity: 1
  visibility: visible
  transform: perspective(37.5rem) rotateX(0)
