<header class="header-area">
  <div class="container-fluid header-line">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">
          Официальный дистрибьютор JLG в России и Белоруссии ООО «Технотрейд»
        </h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col d-flex align-items-center pl-0 ">
        <div class="header d-flex flex-sm-nowrap flex-wrap">
          <div class="header-logo d-flex align-items-center">
            <a href="/"><img src="img/logo.svg" alt="JLG"></a>
          </div>

          <button type="button" id="sidebarCollapse"
                  class="btn btn-info d-flex align-items-center btn-mobile-menu d-xl-none ml-md-0 ml-auto">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>

          <div class="header-navigation d-xl-block d-none">
            <ul class="nav d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-nowrap"
                   href="#">О компании
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-nowrap"
                   href="#">Продукция
                </a>
                <i class="fa fa-angle-down"></i>
                <ul class="sub-menu-area">
                  <div class="sub-menu">
                    <li><a href="/">Руководства</a></li>
                  </div>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-nowrap"
                   href="#">Запчасти и сервис
                </a>
                <i class="fa fa-angle-down"></i>
                <ul class="sub-menu-area">
                  <div class="sub-menu">
                    <li><a href="/">Руководства</a></li>
                  </div>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-nowrap active"
                   href="#">Руководства</a>
                <i class="fa fa-angle-down"></i>
                <ul class="sub-menu-area">
                  <div class="sub-menu">
                    <li><a href="/" class="active">Руководства</a></li>
                    <li><a href="/">Адрес</a></li>
                    <li><a href="/">Телефон</a></li>
                    <li><a href="/">Новые и усовершенствованные разработки</a></li>
                  </div>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-nowrap "
                   href="#">Контакты
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link d-flex align-items-center text-nowrap" href="#">
                  <i class="fa fa-search"></i>
                  <i class="fa fa-close" title="Закрыть" style="display: none"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="header-contact justify-content-center align-items-end flex-column ml-auto d-md-flex d-none">
            <a href="tel:88006003944">8 800 600 39 44</a>
            <a href="mailto:info@jlg.ru" class="contact-mail">info@jlg.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative d-xl-block d-none">
    <div class="header-search header-search-anim pt-1 pb-1 w-100" data-name="header-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form action="" class="d-flex w-100 align-items-center py-2">
              <div class="form-group custom-form-group m-0 position-relative">
                <input class="form-control w-100 dropdown-list "
                       id="title-search-input" type="text"  value=""
                       placeholder="Найти"
                       size="40" maxlength="50" autocomplete="off">              
              </div>
              <div class="header-search-btn">
                <button class="btn btn-orange" type="submit" name="s" value="Найти">Найти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

