@import "../../../sass/vars"
.slider-form-area

.form
  padding: 0.688rem 1.438rem 1.188rem 1.438rem
  background: $grayW

.slider-one-slide
  border-radius: 0.5rem
  overflow: hidden

.slider-one-slide,.form
  margin: 0 0 2.188rem 0
  box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.25)

.slide-banner
  height: 15.4375rem
  width: 100%
  position: relative
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 15.4375rem
    object-fit: cover


.slide-banner-content
  max-width: 19.25rem
  width: 100%
  margin: 2.375rem 0 0 0.688rem
  position: relative
  z-index: 5
  padding: 0.875rem
  background: rgba(255, 255, 255, 0.85)
  p
    color: $stroke
    font: bold 1.5rem/1.813rem 'SFProDisplay-Regular', sans-serif

.form-title
  font: 400 1.5rem/1.813rem 'SFProDisplay-Regular', sans-serif
  margin: 0 0 0.188rem 0

.form-info
  margin: 0 0 1.063rem 0
  color: $gray
  font: 400 0.875rem/1.063rem 'SFProDisplay-Regular', sans-serif

.form
  .form-control
    border: none
    height: 1.5rem
    margin: 0 0 1.25rem 0
    &::placeholder
      color: $gray
      font: 300 0.875rem/1.063rem 'SFProDisplay-Ligth', sans-serif
  .btn-area
    margin: 1.875rem 0 0 0
    .btn
      min-width: 7.1875rem
      border-radius: 0.313rem
