<div class="slider-form-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-7">
        <div class="slider-one-slide">
          <div class="slide-banner">
            <div class="slide-banner-content">
              <p>
                Надежная  высота-
                <br> Это JLG
              </p>
            </div>
            <img src="img/slide-1.jpg" alt="Слайд">
          </div>
          <div class="slide-banner">
            <div class="slide-banner-content">
              <p>
                Надежная  высота-
                <br>Это JLG
              </p>
            </div>
            <img src="img/slide-1.jpg" alt="Слайд">
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5">
        <form class="form">
          <h1 class="form-title">Оставить заявку</h1>
          <p class="form-info">
            узнайте интересующую
            вас информацию
          </p>
          <div class="form-group custom-form-group ">
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="form-group custom-form-group ">
            <input type="text" class="form-control"  placeholder="Телефон">
          </div>
          <div class="btn-area d-flex">
            <button class="btn btn-orange">
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
