@import "../../../sass/vars"



//.news-item-title
.news-item-area h1
  margin: 0 0 3.875rem 0
  font-family: SFProDisplay-Medium,sans-serif
  font-size: 2.3125rem
  line-height: 110%

//.news-item-image
.news-item-area img
  max-width: 100%
  margin: 0 0 2.063rem 0

.news-item-content p
  font-family: 'SFProDisplay-Light',sans-serif
  font-size: 1.0625rem
  line-height: 140%
  //margin: 0 0 1.2rem 0
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0
  margin-inline-end: 0

//.news-item-area .sub-title-medium
.news-item-area h3,
.news-item-area h2
  margin: 0 0 1.875rem 0
  font-weight: 500
  font-family: 'SFProDisplay-Medium',sans-serif
  font-size: 1.4375rem
  line-height: 110%

.news-publication-date p
  color: $gray
