<section class="news-item-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
<!--        <h1 class="news-item-title title-medium">-->
<!--        <h1 class="news-item-title title-medium">-->
        <h1>
          JLG расширяет линейку стреловых подъемников большой грузоподъемности HC3
        </h1>
        <div class="news-item-content">
          <p>
            JLG Industries, ведущий мировой производитель мобильных подъемных рабочих платформ и телескопических
            погрузчиков, объявил о расширении ассортимента стреловых подъемников большой грузоподъемности линейки
            Hi-Capacity HC3.
          </p>
          <img class="news-item-image" src="img/pic-1.jpg" alt="">
          <h2>
            Какие доступны модели?
          </h2>
          <p>
            Сейчас у JLG доступны модели 400S , 460SJ , 600S , 660SJ и 860SJ линейки Hi-Capacity HC3, а в ближайшие
            месяцы их пополнят новые модели подъемников Hi-Capacity 450AJ , 600AJ , 800AJ и 800S. Для большей информации
            можете перейти по ссылке.
          </p>
          <p>
            Подъемники JLG Hi-Capacity HC3 предлагают расширенный рабочий диапазон и три зоны грузоподъемности для
            большего вылета, чем у конкурирующих моделей, предлагающих одну или две зоны грузоподъемности. Фактически,
            модели JLG Hi-Cap acity HC3 рассчитаны на трех пассажиров с инструментами во всех трех зонах.
          </p>
          <p>
            По словам Нейта Гувера, директор по маркетингу и управлению продуктами стреловых подъемников JLG, на
            расширение диапазона предложений повлияли запросы клиентов в сочетании с растущей популярностью стреловых
            подъемников. Поэтому модельный ряд теперь пополнили новые стреловые подъемники большей грузоподъемности с
            высотой 24 метра, которые были спроектированы для обеспечения расширенных возможностей и повышения
            производительности на стройплощадке.
          </p>
          <h2>
            Что нового?
          </h2>
          <p>
            Стреловые подъемники HC3 высокой грузоподъемности серии 400 включают модель 400S HC3 с 12,19-метровой
            высотой подъема платформы и модель 460SJ HC3 с 14,02-метровой высотой платформы, а модели HC3 высокой
            емкости серии 600 включают подъемники 600AJ HC3 и 600S HC3 , каждый из них имеет высоту подъема платформы
            18,29 метра , и 660SJ , который может похвастаться высотой платформы 20,02 метра. Между тем, подъемники
            повышенной грузоподъемности серии 800 HC3 включают подъемники 800AJ HC3 и 800S HC3 высотой 24,05 метра , а
            также 26,21-метровый 860SJ HC3.
          </p>
          <p>
            Все модели предлагают зоны с ограниченной грузоподъемностью 340 кг и 453 кг. Модели серий 400, 600 и 800AJ
            также предлагают зону неограниченной грузоподъемности 300 кг, а модели 800S и 860SJ имеют зону
            неограниченной грузоподъемности 227 кг.
          </p>
          <p>
            Все подъемники линейки HC3 предлагаются с инновационной системой определения нагрузки от JLG, которая
            ограничивает работу машины при перегрузке платформы, автоматически сохраняя работу в пределах допустимого
            рабочего диапазона. Система калибровки нуля на всех моделях HC3 устраняет необходимость использования
            внешних грузов для калибровки подъемника. Это экономит время и силы, одновременно повышая
            производительность.
          </p>
          <p>
            Также, новые светодиодные дисплеи улучшают обзор платформы и наземных консолей во время работы. Дисплеи
            определяют условия окружающего освещения и соответствующим образом регулируют яркость, помогая обеспечить
            максимальную видимость и комфорт оператора. Кроме того, инновационная сигнализация наклона шасси
            предупреждает оператора, когда машина находится на уклоне более 5 градусов. Хотя новые подъемники со стрелой
            Hi-Capacity HC3 тяжелее, чем их стандартные модели, они сохраняют ту же площадь основания для простоты
            транспортировки и использования в сопоставимых рабочих условиях.
          </p>
          <div class="news-publication-date ">
            <p >Дата публикации: 2 февраля  2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
