@import "../../../sass/vars"

.pagination-area
  margin: 8.75rem 0 0 0
  .btn._active
    background: $orange
    color: $white
  .btn
    padding: 0.063rem 0.688rem
    height: 1.875rem
    color: $gray
    border-radius: 0.3125rem
    margin: 0 0.688rem 0 0
  .btn:last-child
    margin: 0
  .btn.next
    padding-left: 1.5rem
    padding-right: 1.5rem
