<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <div class="pagination-area">
        <a href="/" class="btn  text-center">
          1
        </a>
        <a href="/" class="btn  text-center _active">
          2
        </a>
        <div class="btn  text-center">
          ...
        </div>
        <a href="/" class="btn  text-center">
          5
        </a>
        <a href="/" class="btn next text-center _active">
          Далее
        </a>
      </div>
    </div>
  </div>
</div>


