<section class="dashboard-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="dashboard">
          <ul class="nav dashboard-list flex-column" role="tablist">
            <li>
              <a class="nav-link  text-nowrap dashboard-link active"
                 id="privacy-policy-tab" data-toggle="tab"
                 href="#privacy-policy" role="tab"
                 aria-controls="privacy-policy"
                 aria-selected="true">
                Политика конфиденциальности
              </a>
            </li>
            <li>
              <a class="nav-link text-nowrap dashboard-link"
                 id="user-agreement-tab" data-toggle="tab"
                 href="#user-agreement" role="tab"
                 aria-controls="user-agreement"
                 aria-selected="false">
                Пользовательское соглашение
              </a>
            </li>
            <li>
              <a class="nav-link text-nowrap dashboard-link" id="cookies-tab" data-toggle="tab"
                 href="#cookies" role="tab" aria-controls="cookies" aria-selected="false">
                Использование cookies
              </a>
            </li>
            <li>
              <a class="nav-link text-nowrap dashboard-link" id="guarantee-tab" data-toggle="tab"
                 href="#guarantee" role="tab" aria-controls="guarantee" aria-selected="false">
                Гарантия
              </a>
            </li>
            <li>
              <a class="nav-link text-nowrap dashboard-link" id="support-tab" data-toggle="tab"
                 href="#support" role="tab" aria-controls="guarantee" aria-selected="false">
                Поддержка
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="tab-content dashboard-content-area">

          <div class="dashboard-content-tab tab-pane fade show active"
               id="privacy-policy"
               role="tabpanel"
               aria-labelledby="privacy-policy-tab">
            <div class="dashboard-content-title">
              <h1>
                Политика конфиденциальности, применимая к пользователям сайта
              </h1>
            </div>
            <div class="dashboard-content-text">
              <p>
                Компания ООО «Технотрейд» стремится обеспечить вашу конфиденциальность.
                Прочтите нашу Политику конфиденциальности, чтобы понимать, как мы собираем,
                используем, раскрываем, передаем и храним данные, которые могут быть связаны с вами.
              </p>
            </div>
          </div>

          <div class="dashboard-content-tab tab-pane fade"
               id="user-agreement"
               role="tabpanel"
               aria-labelledby="user-agreement-tab">
            <div class="dashboard-content-title">
              <h1>
                Пользовательское соглашение
              </h1>
            </div>
            <div class="dashboard-content-text">
              <p>
                Пользовательское соглашение
              </p>
            </div>
          </div>

          <div class="dashboard-content-tab tab-pane fade"
               id="cookies"
               role="tabpanel"
               aria-labelledby="cookies-tab">
            <div class="dashboard-content-title">
              <h1>
                cookies
              </h1>
            </div>
            <div class="dashboard-content-text">
              <p>
                cookies
              </p>
            </div>
          </div>

          <div class="dashboard-content-tab tab-pane fade"
               id="guarantee"
               role="tabpanel"
               aria-labelledby="guarantee-tab">
            <div class="dashboard-content-title">
              <h1>
                Гарантия

              </h1>
            </div>
            <div class="dashboard-content-text">
              <p>
                Гарантия

              </p>
            </div>
          </div>

          <div class="dashboard-content-tab tab-pane fade"
               id="support"
               role="tabpanel"
               aria-labelledby="support-tab">
            <div class="dashboard-content-title">
              <h1>
                Поддержка
              </h1>
            </div>
            <div class="dashboard-content-text">
              <p>
                Поддержка
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

