@import "../../../sass/vars"

.dashboard-list li:not(:last-child)
  margin: 0 0 1.125rem 0

.dashboard-link
  display: inline-block
  padding: 0.438rem 0.625rem
  background: $white
  border-radius: 0.3125rem
  color: $gray
  font: 300 0.938rem/130% 'SFProDisplay-Regular', sans-serif
  &.active
    background: $orange
    color: $white

.dashboard-content-title
  margin: 0 0 1.875rem 0
  h1
    font: 500 2.313rem/110% 'SFProDisplay-Regular', sans-serif

.dashboard-content-text p
  font: 1.063rem/140% 'SFProDisplay-Light', sans-serif

@media (max-width: 768px)
  .dashboard
    margin: 0 0 1.875rem 0
