.reviews-area
  margin: 0 0 6.125rem
.slide-reviews
  width: 12.063rem
  padding: 1.125rem
  .slide
    padding: 0 1.125rem
  .slick-list
      padding: 3.75rem 0
      margin: 0 -1.125rem
  .slide-reviews
    padding: 0 1.125rem

@media (max-width: 1200px)
  .reviews-area
    .slide-reviews
      .slick-list
        margin: 0
  .reviews-area
    .container
      max-width: 100%
    .col-12
      padding: 0
