<section class="reviews-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="slider-reviews">
          <div class="slide-reviews">
            <div class="card-catalog-img-area d-flex justify-content-center">
              <img src="img/img-catalog-2.png" alt="">
            </div>

            <h3 class="text-center">Отзыв-1</h3>
            <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on
              to the second
              column.</p>
          </div>
          <div class="slide-reviews">
            <div class="card-catalog-img-area d-flex justify-content-center">
              <img src="img/img-catalog-2.png" alt="">
            </div>

            <h3 class="text-center">Отзыв-1</h3>
            <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on
              to the second
              column.</p>
          </div>
          <div class="slide-reviews">
            <div class="card-catalog-img-area d-flex justify-content-center">
              <img src="img/img-catalog-2.png" alt="">
            </div>

            <h3 class="text-center">Отзыв-1</h3>
            <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on
              to the second
              column.</p>
          </div>
          <div class="slide-reviews">
            <div class="card-catalog-img-area d-flex justify-content-center">
              <img src="img/img-catalog-2.png" alt="">
            </div>

            <h3 class="text-center">Отзыв-1</h3>
            <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on
              to the second
              column.</p>
          </div>
          <div class="slide-reviews">
            <div class="card-catalog-img-area d-flex justify-content-center">
              <img src="img/img-catalog-2.png" alt="">
            </div>

            <h3 class="text-center">Отзыв-1</h3>
            <p class="text-center">Another exciting bit of representative placeholder content. This time, we've moved on
              to the second
              column.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
