@import "../../../sass/vars"

.category-card-area
  margin: 3.125rem 0 0 0

.category-card
  min-height: 24.625rem
  padding: 0.75rem 0.875rem 2.125rem 0.875rem
  margin: 0 0 4.375rem 0
  background: $white
  border-radius: 0.3125rem
  transition: 0.3s ease all
  &:hover
    cursor: pointer
    box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25)
  a,p
    text-decoration-line: none
.category-card-image
  height: 18.75rem
  margin: 0 0 0.938rem 0

.category-card-info p
  color:  #272727
  font: 400 0.875rem/1.125rem 'SFProDisplay-Regular', sans-serif

.category-card-calculator
  padding: 3.313rem 2.688rem 2.563rem 2.688rem
  background-color: $orange
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25)
  border-radius: 0.625rem
  img
    margin: 0 0 1.5rem 0
  p
    color: $white
    margin: 0 0 3.938rem 0
  .btn
    max-width: 14.4375rem
    width: 100%
    height: 2.125rem
