<div class="category-card">
  <div class="category-card-image d-flex justify-content-center align-items-center">
    <a href="/">
      <img src="img/img-catalog-1.png" alt="">
    </a>
  </div>
  <div class="category-card-info">
    <p class="text-center">
      Телескопические и коленчатые дизельные подъемники
    </p>
  </div>
</div>
