<section class="info-blocks-area">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-baseline">
      <div class=" col-lg-3 col-md-6 col-12">
        <div class="info-block" data-aos="fade-up" data-aos-duration="700">
          <div class="info-block-title ">Калькулятор</div>
          <div class="d-flex">
            <div class="info-block-text">
              Поможет выбрать подъемник который подходит именно Вам
            </div>
            <div class="info-block-img">
              <img src="img/img-info-blcok-1.svg" alt="Гарантия">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="info-block " data-aos="fade-up" data-aos-duration="900">
          <div class="info-block-title ">Гарантия</div>
          <div class="d-flex">
            <div class="info-block-text">
              До 5 лет на всю технику и на запчасти при наступлении гарантийного случая
            </div>
            <div class="info-block-img">
              <img src="img/img-info-blcok-2.svg" alt="Гарантия">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="info-block " data-aos="fade-up" data-aos-duration="1100">
          <div class="info-block-title ">Сервис</div>
          <div class="d-flex">
            <div class="info-block-text">
              Продажа запчастей, сервисное обслуживание подъемной техники JLG
            </div>
            <div class="info-block-img">
              <img src="img/img-info-blcok-3.svg" alt="Гарантия">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="info-block" data-aos="fade-up" data-aos-duration="1200">
          <div class="info-block-title ">Запчасти</div>
          <div class="d-flex">
            <div class="info-block-text">
              Продажа запчастей, сервисное обслуживание подъемной техники JLG
            </div>
            <div class="info-block-img">
              <img src="img/img-info-blcok-4.svg" alt="Гарантия">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
