@import "../../../sass/vars"

.info-block
  min-height: 7.813rem
  box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.25)
  flex: 0 1 15.938rem
  padding: 0.625rem 0.875rem
  background: linear-gradient(270deg, #FFFFFF 28.77%, rgba(255, 255, 255, 0.28) 105.82%), #E2E2E2
  margin: 0 0 1.875rem 0

.info-block-title
  color: $black
  font-weight: normal
  margin: 0 0 0.375rem 0
  font: 0.9375rem/1.125rem 'SFProDisplay-Regular', sans-serif

.info-block-text
  font-family: "SFProDisplay-Light", sans-serif
  font-size: 0.813rem
  color: $gray
  margin: 0 0.313rem 0 0

.info-block-img
  margin-left: auto
  flex: 0 0 4.375rem
  height: 4.375rem
  position: relative
  img
    position: absolute
    width: 100%
    height: 100%

//.info-blocks-area .col-lg-3:last-child .info-block
  //margin-bottom: 0



