<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">
        Калькулятор
      </h1>
    </div>
  </div>
</div>

<section class="calc-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="select-calc">
          <div class="select-title">
            <h3 class="d-flex align-items-center">
              Что поднимаете?
            </h3>
          </div>
          <select class="select" data-placeholder="Что поднимаете?">
            <option></option>
            <option value="Материалы">Материалы</option>
            <option value="Люди">Люди</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="select-calc">
          <div class="select-title">
            <h3 class="d-flex align-items-center">
              Где поднимаем?
            </h3>
          </div>
          <select class="select" data-placeholder="Где поднимаете?">
            <option></option>
            <option value="Внутри помещения">Внутри помещения</option>
            <option value="Снаружи помещения">Снаружи помещения</option>
            <option value="Внутри и снаружи помещения">Внутри и снаружи помещения</option>
          </select>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="select-calc">
          <div class="select-title">
            <h3 class="d-flex align-items-center">
              Тип питания?
            </h3>
          </div>
          <select class="select" data-placeholder="Где поднимаете?">
            <option></option>
            <option value="Дизельный">Дизельный</option>
            <option value="Электрический">Электрический</option>
            <option value="Гибридный">Гибридный</option>
          </select>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="select-calc">
          <div class="select-title">
            <h3 class="d-flex align-items-center">
              Минимальная рабочая высота?
            </h3>
          </div>
          <select class="select" data-placeholder="Мин. рабочая высота?">
            <option></option>
            <option value="5м - 7.45м">5м - 7.45м</option>
            <option value="7.45м - 12.65м">7.45м - 12.65м</option>
            <option value="12.65м - 17.89м">12.65м - 17.89м</option>
            <option value="17.89м - 25.65м">17.89м - 25.65м</option>
            <option value="25.65м - 28.98м">25.65м - 28.98м</option>
            <option value="28.98м<">28.98м<</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-md-end justify-content-center">
      <button class="calc-btn btn btn-orange">
        Найти оборудование
      </button>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

