<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">
        Контакты
      </h1>
    </div>
  </div>
</div>
<section class="contact-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="title-regular contact-mb">
            Официальный сайт Дистрибьютора JLG в России ООО «Технотрейд»
          </p>
          <p class="title-regular ">
            Наш телефон:
          </p>
          <p class="title-regular contact-mb">
            <a href="tel:88006003944">8 800 600 39 44</a>
          </p>
          <p class="title-regular">
            Адрес:
          </p>
          <p class="title-regular contact-mb">
            123610, Москва, Краснопресненская набережная, 12, 3 подъезд, 18 этаж, офис 1802
          </p>
          <p class="title-regular">
            Наша почта:
          </p>
          <p class="title-regular contact-mb">
            <a href="mailto:info@jlg.ru" class="contact-mail">info@jlg.ru</a>
          </p>
          <div class="container p-0">
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-sm-3 col-12 contact-mb">
                <p class="title-regular">ОГРН</p>
                <p class="title-regular ">1107746607044</p>
              </div>
              <div class="col-xl-2 col-lg-2 col-sm-3 col-12 contact-mb">
                <p class="title-regular">ИНН/КПП</p>
                <p class="title-regular">7703725518/770301001</p>
              </div>
            </div>
          </div>
          <p class="title-regular">
            График работы:
          </p>
          <P class="title-regular contact-mb">
            Пн-Пт 9:00 — 18:00
          </p>
        </div>
      </div>
    </div>
  <div class="map-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="map-title">
            Головной офис
          </h2>
          <p class="title-regular">
            Адрес: 123610, Москва, Краснопресненская набережная, 12, 3 подъезд, 18 этаж, офис 1802
          </p>
          <div class="map">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaf74b1146283728e670e6d108d1bfbf0453400909da7c668b436941b07a6138c&amp;&amp;height=367&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>
        </div>
        <div class="col-12">
          <h2 class="map-title">
            Сервис и запчасти
          </h2>
          <p class="title-regular">
            Адрес: 141401, Московская область, г. Химки, Транспортный проезд, 2, пом. 1.11
          </p>
          <div class="map">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa18356a33029b39a64eaca12aa7a514e9ee02d23a17a80e30b2a243e2e177a27&amp;&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

