<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">
        Категории
      </h1>
    </div>
  </div>
</div>
<section class="category-card-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <%= _.template(require('./../includes/category-card/category-card.html').default)(data) %>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <div class="category-card">
          <a href="/">
            <div class="category-card-image d-flex justify-content-center align-items-center">
              <a href="/">
                <img src="img/img-catalog-2.png" alt="">
              </a>
            </div>
            <div class="category-card-info">
              <p class="text-center">
                Телескопические и коленчатые электрические подъемники
              </p>
            </div>
          </a>

        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <div class="category-card">
          <div class="category-card-image d-flex justify-content-center align-items-center">
            <a href="/">
              <img src="img/img-catalog-3.png" alt="">
            </a>
          </div>
          <div class="category-card-info">
            <p class="text-center">
              Низковысотные подъемники до 5.5м
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <div class="category-card">
          <div class="category-card-image d-flex justify-content-center align-items-center">
            <a href="/">
              <img src="img/img-catalog-4.png" alt="">
            </a>
          </div>
          <div class="category-card-info">
            <p class="text-center">
              Складские подъемники
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <div class="category-card">
          <div class="category-card-image d-flex justify-content-center align-items-center">
            <a href="/">
              <img src="img/img-catalog-5.png" alt="">
            </a>
          </div>
          <div class="category-card-info">
            <p class="text-center">
              Ножничные электрические и дизельные подъемники
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
        <div class="category-card category-card-calculator">
          <img src="img/card-calculator.png" alt="">
          <p>
            Можно подобрать
            <br>с помощью
            <br><strong>калькулятора</strong>
          </p>
          <div class="d-flex">
            <a href="" class="btn btn-white text-center">
              Подобрать
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

