<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<p style="font-family: 'SFProDisplay-Medium' ">SFProDisplay-Medium</p>
<p style="font-family: 'SFProDisplay-Regular' ">SFProDisplay-Regular</p>
<p style="font-family: 'SFProDisplay-Light' ">SFProDisplay-Light</p>
<p style="font-family: 'SFProDisplay-Ultralight' ">SFProDisplay-Ultralight</p>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
<%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>

<div class="container" style="margin-bottom: 50px">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
    </div>
  </div>
</div>
<button type="button"
        class="btn btn-primary"
        data-toggle="modal" data-target="#orderSent">
  Заявка отправлена модальное окно
</button>
<br>
<button type="button"
        class="btn btn-primary"
        data-toggle="modal" data-target="#form">
  Заполните всё, чтобы отправить заявкумодальное окно
</button>
<div class="form-group custom-form-group ">
  <label for="inputEmail">E-mail:*</label>
  <input type="text" class="form-control" id="inputEmail" placeholder="">
</div>
<div class="form-group custom-form-group _error">
  <label for="inputPhone">E-mail:*</label>
  <input type="text" class="form-control" id="inputPhone" placeholder="">
</div>


<div style="width: 300px; margin: 20px">
  <select class="js-example-basic-single placeholder-4" >
    <option ></option>
    <option value="5м - 7.45м">5м - 7.45м</option>
    <option value="7.45м - 12.65м">7.45м - 12.65м</option>
    <option value="12.65м - 17.89м">12.65м - 17.89м</option>
    <option value="17.89м - 25.65м">17.89м - 25.65м</option>
    <option value="25.65м - 28.98м">25.65м - 28.98м</option>
    <option value="28.98м<">28.98м<</option>
  </select>
</div>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

