<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">
        Ножничные электрические и дизельные подъемники
      </h1>
    </div>
  </div>
</div>
<section class="catalog-product-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-5 col-12">
        <%= _.template(require('./../includes/product-card-big/product-card-big.html').default)(data) %>
      </div>
      <div class="col-xl-5 col-lg-5 col-12">
        <%= _.template(require('./../includes/product-card-big/product-card-big.html').default)(data) %>
      </div>
    </div>
  </div>
</section>

<!--<%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>-->


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

