<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<div class="d-flex flex-column">
	<button type="button"
					class="btn btn-primary mb-1"
					data-toggle="modal" data-target="#orderSent">
		Заявка отправлена модальное окно
	</button>
	<button type="button"
					class="btn btn-primary mb-1"
					data-toggle="modal" data-target="#form">
		Заполните всё, чтобы отправить заявкумодальное окно
	</button>

	<button type="button"
					class="btn btn-primary mb-1"
					data-toggle="modal" data-target="#big-modal">
		Заполните всё, чтобы отправить заявкумодальное окно
	</button>
	<button type="button"
					class="btn btn-primary mb-1"
					data-toggle="modal" data-target="#model">
		Понравилась модель RT2669? Заполните заявку и мы свяжемся с Вами
	</button>
</div>


<div class="modal fade custom-modal " id="model"
		 tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-form" role="document">

		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<img src="img/close.png" alt="">
			</button>
			<div class="modal-header justify-content-center">
				<h5 class="modal-title">
					Понравилась модель RT266? Заполните заявку и мы свяжемся с Вами
				</h5>
			</div>
			<div class="modal-body">
				<form action="" data-validate>
					<div class="form-group custom-form-group">
						<label for="inputEmail">E-mail:*</label>
						<input type="text" name="email" class="form-control" placeholder="example@mail.ru" >

					</div>
					<div class="form-group custom-form-group">
						<label for="inputPhone">Телефон:*</label>
						<input type="text" name="phone" class="form-control" data-phone-mask placeholder="">
						
					</div>
					<div class="form-group custom-form-group ">
						<label for="inputEmail">Как мы можем к Вам обращаться?:</label>
						<input type="text" name="name" class="form-control" value="Виктор">
					</div>
					<div class="form-group custom-form-group">
						<label for="inputPhone">Модель:</label>
						<div class="dropdown-list">
							<input data-name="drop" name="model" data-autocomplete autocomplete="no" type="text" class="form-control " value="">
							<ul class="dropdown-menu fade" data-autocomplete-options>
								<li class="dropdown-item">RT266</li>
								<li class="dropdown-item">RT265ds6</li>
								<li class="dropdown-item">RT266</li>
								<li class="dropdown-item">RT266</li>
								<li class="dropdown-item">RT266</li>
								<li class="dropdown-item">RT266</li>
								<li class="dropdown-item">RT2667d6</li>
								<li class="dropdown-item">RT266</li>
								<li class="dropdown-item">RT26896</li>
							</ul>
						</div>						
					</div>
					<div class="d-flex">
						<button class="btn btn-orange">
							Отправить
						</button>
					</div>
				</form>
			</div>
			

		</div>
		<div class="modal-error-area collapse">
			<img src="img/modal-error.png" alt="">
			<p>
				Ошибка! Заполните хотя бы одно поле с контактом, чтобы мы могли с Вами связаться.
			</p>
		</div>
	</div>
</div>

<div class="modal fade custom-modal " id="orderSent"
		 tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">

		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<img src="img/close.png" alt="">
			</button>
			<div class="modal-header justify-content-center">
				<h5 class="modal-title" id="exampleModalLabel">Заявка отправлена!</h5>

			</div>
			<div class="modal-body">
				<p class="modal-text text-center">
					Наш менеджер свяжется с Вами в ближайшее время
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade custom-modal " id="form"
		 tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-form" role="document">

		<div class="modal-content error">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<img src="img/close.png" alt="">
			</button>
			<div class="modal-header justify-content-center">
				<h5 class="modal-title">Заполните всё, чтобы отправить заявку</h5>
			</div>
			<div class="modal-body">
				<div class="form-group custom-form-group ">
					<label for="inputEmail">E-mail:*</label>
					<input type="text" class="form-control" id="inputEmail" placeholder="">
				</div>
				<div class="form-group custom-form-group _error">
					<label for="inputPhone">Телефон:*</label>
					<input type="text" class="form-control" id="inputPhone" placeholder="">
				</div>
				<div class="form-group custom-form-group _error">
					<label>Тема обращения:</label>
					<div class="select-calc">
						<select class="select">
							<option value="Продажа">Продажа</option>
							<option value="Запчасти">Запчасти</option>
							<option value="Запчасти">Запчасти</option>
							<option value="Другое">Другое</option>
						</select>
					</div>
				</div>
			</div>

			<div class="d-flex">
				<button class="btn btn-orange">
					Отправить
				</button>
			</div>

		</div>
		<div class="modal-error-area d-flex justify-content-center align-items-center">
			<img src="img/modal-error.png" alt="">
			<p>
				Ошибка! Заполните хотя бы одно поле с контактом, чтобы мы могли с Вами связаться.
			</p>
		</div>
	</div>
</div>

<div class="modal fade custom-modal" id="big-modal"
		 tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-form" role="document">

		<div class="modal-content error">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<img src="img/close.png" alt="">
			</button>
			<div class="modal-header justify-content-center">
				<h5 class="modal-title">Заполните всё, чтобы отправить заявку</h5>
			</div>
			<div class="modal-body">
				<div class="form-group custom-form-group ">
					<label for="inputEmail">Организация:*</label>
					<input type="text" class="form-control" placeholder="" value="ООО “Спец-про” ">
				</div>
				<div class="form-group custom-form-group ">
					<label for="inputEmail">Контактное лицо:*</label>
					<input type="text" class="form-control" placeholder="" value="ООО “Виктор Робертович">
				</div>
				<div class="form-group custom-form-group ">
					<label for="inputEmail">Телефон:*</label>
					<input type="text" class="form-control" placeholder="" value="+7 (999) 555-55-55">
				</div>
				<div class="form-group custom-form-group ">
					<label for="inputEmail">E-mail:*</label>
					<input type="text" class="form-control" placeholder="" value="spec@pro.ru">
				</div>
				<div class="form-group custom-form-group ">
					<label for="inputEmail">Наименование и модель подъёмника:*</label>
					<input type="text" class="form-control" placeholder="" value="Подъёмник мачтовый 450 AJ">
				</div>
				<div class="form-group custom-form-group ">
					<label for="inputEmail">Заводской номер подъёмника:*</label>
					<input type="text" class="form-control" placeholder=""
								 value="55554444333322221111">
				</div>
				<div class="form-group custom-form-group position-relative">
					<p class="count-text">
						100/1024
					</p>
					<label for="inputEmail">Описание:*</label>
					<textarea class="form-control">

					</textarea>
				</div>
				<div class="file-list-area d-flex align-items-center">

					<div class="form-group download-file position-relative">
						<label for="exampleFormControlFile1">Выбрать файл</label>
						<input type="file" class="form-control-file" id="exampleFormControlFile1">
					</div>
					<div class="file-list">
						<p>commerce_file.pdf</p>
					</div>

				</div>
				<div class="d-flex">
					<button class="btn btn-orange">
						Отправить
					</button>
				</div>
			</div>
		</div>
		<div class="modal-error-area d-flex justify-content-center align-items-center">
			<img src="img/modal-error.png" alt="">
			<p>
				Ошибка! Заполните хотя бы одно поле с контактом, чтобы мы могли с Вами связаться.
			</p>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

