<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">
        Подбор по параметрам
      </h1>
    </div>
  </div>
</div>
<section class="catalog-product-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-12">
        <div class="container p-0 container-filter">
          <form id="formFilter" action="" class="position-relative">
            <div class="filter-search-area" style="displa">
              <div class="filter-search">
                <p>
                  Найдено 6 моделей
                </p>
                <div class="d-flex">
                  <button class="btn btn-orange">
                    Показать
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-sm-6">
                <div class="filter d-flex flex-column" data-parent>
                  <h4>Рабочая высота, м</h4>
                  <div class="filter-type-price-area d-flex">
                    <div class="filter-type-price d-flex">
                      <input type="text" class="form-control" data-range-from value="1">
                      <p class="units d-flex align-items-center justify-content-center">
                        м
                      </p>
                    </div>
                    <div class="filter-type-price d-flex">
                      <input type="text" class="form-control" data-range-to value="15000">
                      <p class="units d-flex align-items-center justify-content-center">
                        м
                      </p>
                    </div>
                  </div>
                  <div class="filter-range-area">
                    <div id="range01" data-range data-step="5" data-range-min="0" data-range-max="1000"></div>
                  </div>
                </div>
              </div>
              <div  class="col-xl-12 col-lg-12 col-sm-6">
                <div class="filter d-flex flex-column" data-parent>
                  <h4>Рабочая высота, м</h4>
                  <div class="filter-type-price-area d-flex">
                    <div class="filter-type-price d-flex">
                      <input type="text" class="form-control" data-range-from >
                      <p class="units d-flex align-items-center justify-content-center">
                        м
                      </p>
                    </div>
                    <div class="filter-type-price d-flex">
                      <input type="text" class="form-control" data-range-to >
                      <p class="units d-flex align-items-center justify-content-center">
                        м
                      </p>
                    </div>
                  </div>
                  <div class="filter-range-area">
                    <div id="range02" data-range data-step="5" data-range-min="0" data-range-max="1000"></div>
                  </div>
                </div>
              </div>
              <div  class="col-xl-12 col-lg-12 col-sm-6">
                <div class="filter d-flex flex-column filter-checkboxes">
                  <h4>Тип питания</h4>
                  <div class="chiller_cb">
                    <input id="diesel" type="checkbox">
                    <label for="diesel">Дизельные</label>
                    <span></span>
                  </div>
                  <div class="chiller_cb">

                    <input id="electric" type="checkbox">
                    <label for="electric">Электрические</label>
                    <span></span>
                  </div>
                  <div class="chiller_cb">
                    <input id="hybrid" type="checkbox">
                    <label for="hybrid">Гибридные</label>
                    <span></span>
                  </div>
                </div>
              </div>
              <div  class="col-xl-12 col-lg-12 col-sm-6">
                <div class="filter d-flex flex-column filter-checkboxes">
                  <h4>Отрасли использования</h4>
                  <div class="chiller_cb">
                    <input id="outdoor" type="checkbox">
                    <label for="outdoor">Наружные</label>
                    <span></span>
                  </div>
                  <div class="chiller_cb">
                    <input id="iternal" type="checkbox">
                    <label for="iternal">Внутренние</label>
                    <span></span>
                  </div>
                  <div class="chiller_cb">
                    <input id="storage" type="checkbox">
                    <label for="storage">Складские</label>
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-sm-12 d-flex flex-column align-items-center">
                <button class="btn btn-orange filter-btn">
                  Показать
                </button>
                <button class="btn btn-transparent filter-btn">
                  Сбросить
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-sm-12">
        <div class="container p-0">
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
              <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

