<% var data = {
title: "Завод"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">
        Ножничные электрические подъемники
      </h1>
    </div>
  </div>
</div>
<section class="catalog-product-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <%= _.template(require('./../includes/product-card/product-card.html').default)(data) %>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

