<section class="slider-catalog-area" data-aos="fade-up" data-aos-duration="900">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="slider">
          <div class="slide"  >
            <div class="card-catalog">
              <a href="/">
                <div class="card-catalog-img-area d-flex justify-content-center">
                  <img src="img/img-catalog-1.png" alt="">
                </div>
                <div class="card-catalog-text text-center d-flex align-items-center">
                  Телескопические и коленчатые подъемники с дизельным двигателем
                </div>
              </a>
            </div>
          </div>
          <div class="slide"  >
            <div class="card-catalog" >
              <a href="/">
                <div class="card-catalog-img-area d-flex justify-content-center">
                  <img src="img/img-catalog-2.png" alt="">
                </div>
                <div class="card-catalog-text text-center d-flex align-items-center">
                  Электрические и гибридные подъемники
                </div>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="card-catalog">
              <a href="/">
                <div class="card-catalog-img-area d-flex justify-content-center">
                  <img src="img/img-catalog-3.png" alt="">
                </div>
                <div class="card-catalog-text text-center d-flex align-items-center">
                  Доступ на низком уровне
                </div>
              </a>

            </div>
          </div>
          <div class="slide">
            <div class="card-catalog">
              <a href="/">
                <div class="card-catalog-img-area d-flex justify-content-center">
                  <img src="img/img-catalog-4.png" alt="">
                </div>
                <div class="card-catalog-text text-center d-flex align-items-center">
                  Складские подъемники
                </div>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="card-catalog">
              <a href="/">
                <div class="card-catalog-img-area d-flex justify-content-center">
                  <img src="img/img-catalog-5.png" alt="">
                </div>
                <div class="card-catalog-text text-center d-flex align-items-center">
                  Ножничные подъемники
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
