.slider-catalog-area
  .slider
    .slick-list
      padding: 3.75rem 0
      margin: 0 -1.125rem
  .slide
    padding: 0 1.125rem

.card-catalog:hover
  transition: 0.3s ease all
  transform: scale(1.045) translateY(-3.125rem)
  box-shadow: 0px 0.625rem 0.9375rem rgba(0, 0, 0, 0.25)

.card-catalog
  transition: 0.3s ease all
  padding: 1.125rem
  width: 12.063rem
  background: #ffffff

.card-catalog-img-area
  margin: 0 0 0.625rem 0
  max-height: 8.75rem
  img
    object-fit: contain

.card-catalog-text
  min-height: 5.375rem
  font-family: 'SFProDisplay-Regular',sans-serif
  font-size: 0.875rem
  line-height: 130%
  color: #272727

@media (max-width: 1200px)
  .slider-catalog-area
    .slider
      .slick-list
        margin: 0
  .slider-catalog-area
    .container
      max-width: 100%
    .col-12
      padding: 0

