<section class="specifications-nav-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="nav specifications-nav d-flex
        justify-content-between flex-lg-row flex-column" role="tablist">
          <a
            class="nav-link active"
            id="spec-tab" data-toggle="tab"
            href="#spec" role="tab"
            aria-controls="spec"
            aria-selected="false"
          >Характеристики</a>
          <a
            class="nav-link"
            id="video-tab" data-toggle="tab"
            href="#video" role="tab"
            aria-controls="video"
            aria-selected="false"
          >Видеоматериалы</a>
          <a
            class="nav-link"
            id="manual-tab" data-toggle="tab"
            href="#manual-link" role="tab"
            aria-controls="manual-link"
            aria-selected="false"
          >Руководства по эксплуатации</a>
        </nav>
      </div>

    </div>
  </div>
  <div class="specification-tab container">
    <div class="row tab-pane fade show active"
         id="spec"
         role="tabpanel"
         aria-labelledby="spec-tab">
      <div class="col-md-6 col-12 product-card-info flex-column d-flex ">
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
      </div>
      <div class="col-md-6 col-12 product-card-info flex-column d-flex ">
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
        <div class="product-card-info-item d-flex justify-content-between align-items-center position-relative">
          <p class="info-name position-relative">Ширина машины</p>
          <p class="info-prop position-relative">1,76 m</p>
        </div>
      </div>

      <div class="col-12 specification-slider ">
        <a class="specification-slide" data-fancybox="gallery" href="img/video.jpg">
          <img src="img/video.jpg" alt="">
        </a>
        <a class="specification-slide" data-fancybox="gallery" href="img/video-1.jpg">
          <img src="img/video-1.jpg" alt="">
        </a>
        <a class="specification-slide" data-fancybox="gallery" href="img/video-2.jpg">
          <img src="img/video-2.jpg" alt="">
        </a>
      </div>

    </div>
    <div class="row tab-pane fade"
         id="video"
         role="tabpanel"
         aria-labelledby="video-tab">
      <div class="col-12 specification-slider m-0">
        <div class="specification-slide">
          <iframe width="100%" height="220px" src="https://www.youtube.com/embed/jkPUSd__JM0" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <p class="text-truncate">
            Гусеничные подъёмники JLG. Обзор технических характеристик
          </p>

        </div>
        <div class="specification-slide">
          <iframe width="100%" height="220px" src="https://www.youtube.com/embed/jkPUSd__JM0" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <p class="text-truncate">
            Гусеничные подъёмники JLG. Обзор технических характеристик
          </p>
        </div>
        <div class="specification-slide" >
          <iframe width="100%" height="220px" src="https://www.youtube.com/embed/jkPUSd__JM0" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <p class="text-truncate">
            Гусеничные подъёмники JLG. Обзор технических характеристик
          </p>
        </div>
      </div>
    </div>
    <div class="row tab-pane fade"
         id="manual-link"
         role="tabpanel"
         aria-labelledby="manual-tab">
      <div class="col-12 file-list">
        <div class="file-area d-flex align-items-center">
          <a href="/" class="d-flex align-items-center">
            <img src="img/file-pdf.png" alt="">
            <p>
              Руководство1.pdf
            </p>
          </a>
        </div>
        <div class="file-area d-flex align-items-center">
          <a href="/" class="d-flex align-items-center">
            <img src="img/file-pdf.png" alt="">
            <p>
              Руководство1.pdf
            </p>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
