@import "../../../sass/vars"

.search-page-result
  //margin: 3.125rem 0 0 0

.search-result-item
  border-bottom: 0.0625rem solid #efefef
  padding: 0.9375rem 0
  cursor: pointer
  &:last-child
    border-bottom: none


.search-result-title
  color: $orange
  border-bottom: 1px solid
  font: 500 1.5rem/110% 'SFProDisplay-Regular', sans-serif

.search-result-desc
  margin: 0.725rem 0
  font: 300 .938rem/130% 'SFProDisplay-Light', sans-serif
