<section class="search-page-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-search pt-1 pb-1 w-100 d-block position-relative" >
          <div class="row">
            <div class="col-md-12">
              <form action="" class="d-flex w-100 align-items-center">
                <div class="form-group custom-form-group m-0 position-relative">
                  <input class="form-control w-100 dropdown-list "
                         id="title-search-input" type="text" value=""
                         placeholder="Найти"
                         size="40" maxlength="50" autocomplete="off">
                  <!--                  <ul class="dropdown-menu fade w-100" style="opacity: 1; display: block">-->
                  <!--                    <li class="dropdown-item"><a href="index-12.html">RT266</a></li>-->
                  <!--                    <li class="dropdown-item"><a href="index-12.html">RT266</a></li>-->
                  <!--                  </ul>-->
                </div>
                <div class="header-search-btn">
                  <button class="btn btn-orange" type="submit" name="s" value="Найти">Найти</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="search-page-result d-flex flex-column mt-5">

          <div class="search-result-item">
            <a class="search-result-title">Название</a>            
            <p class="search-result-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam, consectetur, dignissimos
              dolores eum ex inventore maiores nam nihil non nulla obcaecati perferendis quaerat quas quia ratione saepe
              sequi vitae?</p>
          </div>

          <div class="search-result-item">
            <a class="search-result-title">Название</a>            
            <p class="search-result-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam, consectetur, dignissimos
              dolores eum ex inventore maiores nam nihil non nulla obcaecati perferendis quaerat quas quia ratione saepe
              sequi vitae?</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
